* {
  font-family: sans-serif;
}

form, div {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

input {
  width: 300px;
  margin-bottom: 10px;
}

button {
  background-color: white;
  padding: 10px;
  border: 1px solid grey;
  text-transform: uppercase;
  width: fit-content;
  margin: 15px 0;
}
